<!-- The Modal -->

<div class="modal modal-body">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close modal-close">X</span>
        <div class="modal-wrap">
            <h1>Gina's Cleaning Services</h1>
            <div>
                <img class="modal-image" src="/images/ginas.webp" alt="portfolio item ">
                <p>Technologies Used:</p>
                <div class="technologies">
                    <div><i style="color: red;" class="fab fa-html5 fa-3x"></i>
                        <p>HTML5</p>
                    </div>
                    <div><i style="color:blue" class="fab fa-css3-alt fa-3x"></i>
                        <p>CSS3</p>
                    </div>
                    <div><i style="color: orange;" class="fab fa-js-square fa-3x"></i>
                        <p>JavaScript</p>
                    </div>
                    <div><i style="color:rebeccapurple" class="fab fa-bootstrap fa-3x"></i>
                        <p>Bootstrap4</p>
                    </div>
                    <div><i style="color: lightskyblue;" class="fab fa-font-awesome fa-3x"></i>
                        <p>FontAwesome</p>
                    </div>

                </div>
            </div>
            <p>Fully responsive website design. Adjusted by customer needs. Project successfuly published and live.</p>
            <p class="description">

                Web application for client's cleaning services. Recreated design from client's leaflet for advertising purposes. Design optimized for easy UX. Fully responsive. Easly and quick accessible customers contact form connected with Email. Built with HTML5,
                CSS3, JavaScript, Bootstrap4 and Jquery technologies. Leaflet example: <img class="example-img" src="/images/ginasleaflet.webp">
            </p>
        </div>
        <div class="modal-link">
            <a class="button button-accent button-small modal-back">Back</a>
            <a href="http://ginascleaningservices.co.uk/" target="_blank" rel="noopener" class="button button-accent button-small ">Show Live</a>
        </div>
    </div>
</div>