<!-- The Modal -->

<div class="modal modal-body">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close modal-close">X</span>
        <div class="modal-wrap">
            <h1>TO-DO-LIST - React only</h1>
            <img class="modal-image" src="/images/todolist.webp " alt="portfolio item ">
            <p>Technologies Used:</p>
            <div class="technologies">
                <div><i style="color: orange;" class="fab fa-js-square fa-3x"></i>
                    <p>JavaScript</p>
                </div>
                <div><i style="color:gold;" class="far fa-file-code fa-3x"></i>
                    <p>ECMAScript6</p>
                </div>
                <div><i style="color: royalblue;" class="fab fa-react fa-3x"></i>
                    <p>React</p>
                </div>

            </div>


            <!-- <p><i style="color: red;" class="fab fa-html5 fa-3x"></i></p>
                <p><i style="color:blue" class="fab fa-css3-alt fa-3x"></i></p>
                <p><i style="color: orange;" class="fab fa-js-square fa-3x"></i></p>
                <p><i style="color: lightskyblue;" class="fab fa-font-awesome fa-3x"></i></p>
                <p><i style="color: lightskyblue;" class="fab fa-bootstrap fa-3x"></i></p>
                </p>
                <p><i style="color: green;" class="fab fa-node fa-3x"></i>
                </p> -->


            <p>Write down your plan list.</p>
            <p class="description">First React application project without mongoose database. Add new Todo list, edit, delete. Updated Vanilla HTML TO-DO list to React.
            </p>


        </div>
        <div class="modal-link">
            <a class="button button-accent button-small modal-back">Back</a>
            <a href="https://github.com/MariusDervinis/react-to-do" target="_blank" rel="noopener" class="button button-accent button-small ">Show Code</a>
            <a href="https://marius-to-do-list.herokuapp.com/" target="_blank" rel="noopener" class="button button-accent button-small ">Show Live</a>
        </div>
    </div>
</div>