<footer>
    <div class="container ">

        <p>TradeMark @Marius Dervinis
            <%= new Date().getFullYear() %>
        </p>

    </div>
</footer>



<!-- Javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
<script src="/javascript/main.js "></script>
</body>

</html>