<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metatag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Marius Dervinis. What I have been up to lately." />
    <meta name="keywords" content="Marius Dervinis, portfolio, web developer">
    <!-- Favicon -->

    <!-- I should use some google fonts to make my website more dope! -->
    <!-- Stylesheet -->
    <link href="stylesheets/lib/normalize.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/main.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/1e5693b04d.js" crossorigin="anonymous"></script>

    <title>Marius Portfolio</title>

</head>

<body>
    <header>
        <nav>
            <div id="menuToggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul class="menu-items" id="menu">

                    <a href="#home">
                        <li>Home</li>
                    </a>
                    <a href="#about">
                        <li>About</li>
                    </a>
                    <a href="#projects">
                        <li>Projects</li>
                    </a>
                    <a href="#contact">
                        <li>Contact</li>
                    </a>

                    <div class="social-links">
                        <a href="https://github.com/MariusDervinis" aria-label="Github" target="_blank" class="github"><i class="fab fa-github"></i></i></a>
                        <a href="https://www.facebook.com/marius.dervinis" aria-label="Facebook" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.linkedin.com/in/marius-dervinis-38b1b2108/" target="_blank" aria-label="Linkedin" class="linkedin"><i class="fab fa-linkedin-in"></i></a></div>
                </ul>
            </div>
        </nav>
    </header>