# Firebase specific files
.firebase/
.firebaserc
node_modules/
package-lock.json
dist/
build/
# MacOS
.DS_Store
# Logs
logs
*.log
# npm package logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
