@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700;900&display=swap');
body {
    align-items: center;
    background-color: rgb(100, 100, 100);
    font-family: 'Barlow', sans-serif;
    text-align: center;
    justify-content: center;
    font-size: 1.0em;
    color: #232323;
}

p,
h1,
h2 {
    padding: unset;
    margin: unset;
}

h1 {
    font-size: 1.4em;
    font-weight: 500;
}

h2 {
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 0.5em;
    padding-bottom: 0.2em;
}

ul {
    padding-left: 1em;
    margin: unset;
    text-align: left;
}

.page {
    background-color: #fcfcfc;
    max-width: 1024px;
    margin: auto;
}

.lang {
    display: flex;
    flex-direction: row-reverse;
    padding: 0.5em;
    text-align: right;
}

.lang .flag {
    width: 2em;
    margin: 0.2em;
}

section {
    padding: 1em 0;
}

.container {
    margin: 0 1em;
}

.profile-img {
    width: 10em;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    margin: 1em;
}

.main-container,
.single-container,
.double-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    text-align: center;
}

.content {
    margin: 1em;
}

.items {
    display: flex;
    justify-content: center;
}

.name {
    font-size: 1.8em;
    font-weight: 700;
    align-self: flex-start;
}

.job-title {
    font-size: 1.4em;
    font-weight: 500;
    align-self: flex-start;
    height: 50px;
    color: #009DFF;
    position: relative;
    top: 4px;
}

.item-title {
    color: #009DFF;
}

.item {
    padding-bottom: 0.2em;
    margin-top: 0.5em;
}

.item-info {
    text-decoration: none;
    color: #232323;
}

.item-info:hover {
    text-decoration: underline;
    color: #009DFF;
}

.project-link {
    margin-bottom: 0.5em;
}

.project-link a {
    color: #009DFF;
    margin-top: 1.4em;
    margin-right: 0.5em;
}

.section-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
}

.section-date,
.section-place {
    color: #009DFF;
}

.desktop,
.tablet {
    display: none;
}

@media (min-width:650px) {
    .container {
        margin: 0 2em;
    }
    .mobile {
        display: none;
    }
    .profile-img.mobile {
        display: initial;
    }
    .tablet {
        display: initial;
    }
    .job-title.tablet {
        display: flex;
    }
    .main-container {
        flex-flow: row;
        justify-content: space-evenly;
        text-align: left;
    }
    .double-container {
        flex-flow: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        text-align: left;
    }
    .double-container .content {
        width: 40%;
    }
    .single-container {
        justify-content: space-between;
        text-align: left;
    }
    .name {
        height: 50px;
    }
    .items {
        justify-content: flex-start;
    }
    .education .container {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: left;
        align-items: flex-start;
    }
    .education .single-container {
        flex-wrap: wrap;
        width: 45%;
    }
}

@media (min-width:1024px) {
    .name {
        font-size: 2em;
    }
    .job-title {
        font-size: 1.8em;
    }
    .mobile {
        display: none;
    }
    .profile-img.mobile {
        display: none;
    }
    .tablet {
        display: none;
    }
    .desktop {
        display: initial;
    }
}

.slice {
    width: 90%;
    margin: auto;
    border-bottom: 3px solid #009DFF;
    opacity: 0.2;
}


/* old code */


/* 
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700;900&display=swap');
body {
    align-items: center;
    background-color: rgb(100, 100, 100);
    font-family: 'Barlow', sans-serif;
    text-align: center;
    justify-content: center;
    font-size: 1.0em;
    color: #232323;
}

.page {
    background-color: #fcfcfc;
    max-width: 1060px;
    margin: auto;
}

.lang {
    display: flex;
    flex-direction: row-reverse;
    padding: 0.5em;
    text-align: right;
}

.lang .flag {
    width: 2em;
    margin: 0.2em;
}

section {
    padding: 1em 0;
}


section.main {}

.container {
    margin: 0 2em;
}

.profile-img {
    width: 10em;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    margin: 1em;
}

.mobile,
.tablet {
    visibility: hidden;
    position: absolute;
}

.main-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    text-align: start;
}

.content {
    margin: 1em;
}

.items {
    display: flex;
}

.name {
    font-size: 2em;
    font-weight: 700;
    align-self: flex-start;
    height: 2em;
}

.job-title {
    font-size: 1.6em;
    font-weight: 500;
    align-self: flex-start;
    height: 2.4em;
    color: #009DFF;
    position: relative;
    top: 6px;
}

.item-title {
    margin-right: 1em;
    color: #009DFF;
}

.item {
    padding: 0.2em;
}

.item-info a {
    text-decoration: none;
    color: #232323;
}

.item-info a:hover {
    text-decoration: underline;
    color: #009DFF;
}
 */


/* code dumpster */


/* code dumpster */


/* code dumpster */


/* 
.slice {
    width: 90%;
    margin: auto;
    border-bottom: 3px solid #009DFF;
    opacity: 0.2;
}

.main-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 2em 0;
}

.main-content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-container {
    margin: 1em;
}

.info-container-mobile {
    display: none;
}

.profile-image-mobile {
    display: none;
}

.profile-img {
    position: relative;
    top: 3em;
    width: 10em;
    border-radius: 25em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.name {
    font-size: 2em;
    font-weight: 700;
    align-self: flex-start;
    height: 80px;
}

.job-title {
    position: relative;
    font-size: 1.5em;
    font-weight: 300;
    color: #009DFF;
    align-self: flex-start;
    height: 80px;
    top: 6px;
}

.items {
    display: flex;
}

.info-title {
    text-align: start;
    margin-right: 1em;
    color: #6d9bff;
}

.info-text {
    text-align: start;
}

a {
    text-decoration: none;
    color: #232323;
}

a:hover {
    text-decoration: underline;
    color: #009DFF;
}

.section-title {
    font-weight: 700;
    font-size: 1.2em;
    margin-left: 0.8em;
    margin-top: 1em;
    min-width: 8em;
}

.section-date {
    font-weight: 500;
    font-size: 1.2em;
    margin-left: 0.8em;
    margin-top: 1em;
    min-width: 8em;
}

.section-place {
    font-weight: 500;
    font-size: 1.2em;
    margin-left: 0.8em;
    min-width: 8em;
    color: #009DFF;
}

h1,
h2,
h3 {
    font-size: 1.2em;
    font-weight: 500;
    margin: unset;
}

ul {
    padding-left: 1em;
}

h1 {
    font-weight: 500;
    font-size: 1.2em;
    margin-top: 1.0em;
}

h2 {
    font-weight: 300;
    font-size: 1.2em;
}

.container p {
    font-weight: 500;
    font-size: 1em;
}

li {
    font-size: 1em;
    margin: 0.2em;
}

.details {
    display: flex;
    flex-wrap: wrap;
}

.projects {
    display: flex;
    flex-direction: column;
}

.project-link {
    margin: 0 1em;
}

.details .container {
    width: 43%;
}

.project-link a {
    color: #009DFF;
    margin-top: 1.4em;
    margin-right: 0.5em;
}

.projects p {
    margin: auto;
}

.name {
    height: unset;
    margin: auto;
}

.job-title {
    margin: auto;
}

.info-container {
    display: none;
}

.info-container-mobile {
    padding: 1em;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.profile-image-mobile {
    margin: auto;
    display: block;
}

.profile-image-mobile .profile-img {
    position: static;
}

.items {
    flex-direction: column;
}

.items div {
    flex-direction: row;
    margin: 0.2em;
}

body {
    margin: unset;
}

.profile-image {
    display: none;
}

.section-title {
    min-width: unset;
}

.section-date {
    min-width: unset;
}

.section-place {
    min-width: unset;
}

p,
ul {
    margin: 1em;
}

.education h1,
.education h2,
.education p {
    margin-left: 0.8em;
}

.details {
    flex-direction: column;
}

.details .container {
    width: auto;
} */


/* 
@media (max-width:70rem) {
    .name {
        height: unset;
        margin: auto;
    }
    .job-title {
        margin: auto;
    }
    .lang {
        margin: 0.5em;
    }
    .info-container {
        display: none;
    }
    .info-container-mobile {
        padding: 1em;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .profile-image-mobile {
        margin: auto;
        display: block;
    }
    .profile-image-mobile .profile-img {
        position: static;
    }
    .items {
        flex-direction: column;
    }
    .items div {
        flex-direction: row;
        margin: 0.2em;
    }

    body {
        margin: unset;
    }
    .profile-image {
        display: none;
    }
    .main {
        margin-top: unset;
    }
    section {
        margin-right: unset;
        margin-left: unset;
    }
    .container {
        margin: unset;
    }
    .section-title {
        min-width: unset;
    }
    .section-date {
        min-width: unset;
    }
    .section-place {
        min-width: unset;
    }

    p,
    ul {
        margin: 1em;
    }
    .education h1,
    .education h2,
    .education p {
        margin-left: 0.8em;
    }
    .container {
        flex-direction: column;
    }
    .details {
        flex-direction: column;
    }
    .details .container {
        width: auto;
    }
} */


/* @media (max-width:40rem) {
    body {
        margin: unset;
    }
    .profile-image {
        display: none;
    }
    .profile-image-mobile {
        display: block;
    }
    .profile-image-mobile .profile-img {
        position: static;
    }
    .main {
        margin-top: unset;
    }
    section {
        margin-right: unset;
        margin-left: unset;
    }
    .container {
        margin: unset;
    }
    .section-title {
        min-width: unset;
    }
    .section-date {
        min-width: unset;
    }
    .section-place {
        min-width: unset;
    }
} */


/* @media (max-width:70rem) {
    p,
    ul {
        margin: 1em;
    }
    .education h1,
    .education h2,
    .education p {
        margin-left: 0.8em;
    }
    .container {
        flex-direction: column;
    }
    .details {
        flex-direction: column;
    }
    .details .container {
        width: auto;
    }
} */