<!-- The Modal -->

<div class="modal modal-body">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close modal-close">X</span>
        <div class="modal-wrap">
            <h1>PVPON - Gaming website</h1>
            <img class="modal-image" src="/images/pvpon.webp" alt="portfolio item ">
            <p>Technologies Used:</p>
            <div class="technologies">
                <div><i style="color: red;" class="fab fa-html5 fa-3x"></i>
                    <p>HTML5</p>
                </div>
                <div><i style="color:blue" class="fab fa-css3-alt fa-3x"></i>
                    <p>CSS3</p>
                </div>
                <div><i style="color: orange;" class="fab fa-js-square fa-3x"></i>
                    <p>JavaScript</p>
                </div>
                <div><i style="color:dimgrey" class="fas fa-project-diagram fa-3x"></i>
                    <p>API</p>
                </div>
                <div><i style="color: black;" class="fab fa-wordpress fa-3x"></i>
                    <p>Wordpress</p>
                </div>

            </div>


            <p>Gaming website for community.</p>
            <p class="description"> Created a custom Theme template and used Photoshop to edit images. Implemented Loging in with Discord Oauth2. Implemented E-commerce store. Used Zapier to move info from a Website to Discord. Added various plugins like Youtube, Excel Sheets,
                WP forms, WooCommerce, AMO Team.
            </p>


        </div>
        <div class="modal-link">
            <a class="button button-accent button-small modal-back">Back</a>
            <a href="https://pvpon.eu" target="_blank" rel="noopener" class="button button-accent button-small ">Show Live</a>
        </div>
    </div>
</div>