<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="stylesheets/lib/normalize.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/resume.css" rel="stylesheet" type="text/css">
    <title>Marius Dervinis - Resume</title>
</head>

<body>
    <div class="page">
        <div class="lang">
            <img class="flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg" alt="England Flag">
            <img class="flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/lt.svg" alt="Lithuania Flag">
        </div>
        <section class="main">
            <div class="container">
                <img class="profile-img mobile" src="/images/profile.webp" alt="">
                <div class="main-container">
                    <div class="content">
                        <div class="name">Marius Dervinis</div>
                        <div class="job-title mobile">Software Developer</div>
                        <div class="items">
                            <div class="item-title">
                                <div class="item">Phone LT:</div><a class="item-info" href="tel:+37069271911" rel="noopener" target="_blank">+37069271911</a>
                                <div class="item">Phone UK:</div><a class="item-info" href="tel:+447453396996" rel="noopener" target="_blank">+447453396996</a>
                                <div class="item">Email:</div><a class="item-info" href="mailto://marius.dervinis@gmail.com" rel="noopener" target="_blank">marius.dervinis@gmail.com</a>
                                <div class="item">Location:</div>
                                <div class="item-info">Vilnius, Lithuania <br>London, United Kingdom</div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="job-title tablet">Software Developer</div>
                        <div class="items">
                            <div class="item-title">
                                <div class="item">Portfolio:</div><a class="item-info" href="https://marius-dervinis-portfolio.herokuapp.com/" rel="noopener" target="_blank">marius-dervinis-portfolio.herokuapp.com</a>
                                <div class="item">Github:</div><a class="item-info" href="https://github.com/MariusDervinis" rel="noopener" target="_blank">github.com/MariusDervinis</a>
                                <div class="item">Facebook:</div><a class="item-info" href="https://facebook.com/marius.dervinis" rel="noopener" target="_blank">facebook.com/marius.dervinis</a>
                                <div class="item">LinkedIn:</div><a class="item-info" href="https://linkedin.com/in/marius-dervinis-38b1b2108/" rel="noopener" target="_blank">linkedin.com/in/marius-dervinis-38b1b2108</a>
                            </div>
                        </div>
                    </div>
                    <div class="content desktop"><img class="profile-img" src="/images/profile.webp" alt=""></div>
                </div>
            </div>
        </section>
        <div class="slice"></div>
        <section class="about">
            <div class="container">
                <div class="single-container">
                    <div class="content">
                        <div class="section-title">
                            About
                        </div>
                    </div>
                    <div class="content">
                        <p>A passionate Software Developer who focuses on the creation and design of interactive web applications. My goal is to create a simple and responsive user experience keeping the design on the highest level possible. <br>Completed
                            Web development from Colt's Bootcamp, Bassir Dev and other online courses. I became more confident with my coding and it helped me to grow as a developer. I'm currently working freelance and looking for bigger projects to challenge
                            me.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="slice"></div>
        <section class="education">
            <div class="container">
                <div class="single-container">
                    <div class="content">
                        <div class="section-title">
                            Technical Skills
                        </div>
                    </div>
                    <div class="content">
                        <h1>Technologies:</h1>
                        <p>HTML5, CSS3, JavaScript, ES6, Node.js</p>
                        <h1>Frameworks/Libraries:</h1>
                        <p>React, Redux, Express, Wordpress, Bootstrap4, jQuery</p>
                        <h1>Databases:</h1>
                        <p>Mongoose, MySQL</p>
                        <h1>Tools:</h1>
                        <p>Adobe Photoshop CC, Figma, Zeplin, Visual Studio Code, Git, Chrome, Firefox </p>
                    </div>
                </div>
                <div class="single-container">
                    <div class="content">
                        <div class="section-title">
                            Education
                        </div>
                    </div>
                    <div class="content">
                        <ul>
                            <li>
                                Vilniaus technology and business profession teaching centre – 2016, Vilnius 01114, Lithuania
                            </li>
                            <li>Worker's Diploma. Operator of computer designing training programme – 2016</li>
                            <li>Colt Steele's The Web Developer Bootcamp - 2019</li>
                        </ul>
                        <br>
                        <h1>Languages:</h1>
                        <p>English, Lithuaninan, Russian</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="slice"></div>
        <section class="experience">
            <div class="container">
                <div class="single-container">
                    <div class="content">
                        <div class="section-title">
                            Work Experience
                        </div>
                    </div>
                    <div class="content">
                        <h1>Software Developer:</h1>
                        <div class="section-date">
                            2018 - present
                        </div>
                        <div class="section-place">
                            London
                        </div>
                        <h2>Freelance - Self Employed</h2>
                        <p>
                            Creating front-end and back-end websites for a customers and small business.
                            <ul>
                                <li>Full stack application in HTML5, CSS3, JavaScript and Node.js with Express framework.</li>
                                <li>React E-commerce application with back-end and Mongoose Database</li>
                                <li>Wordpress CMS web application with custom theme template, scripts, E-commerce and various features.</li>
                                <li>Front-end of the applications using Bootstrap4 and jQuery.</li>
                                <li>Created pictures and logos with Photoshop and optimized for web applications.</li>
                                <li>Implemented best design practices to ensure consistent user experience on any device.</li>
                                <li>Optimized the application for speed and scalability with page load times and SEO which improved rank by ~80%.</li>
                                <li>Hosted multiple projects live using paid and free hosting services.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="slice"></div>
        <section class="experience">
            <div class="container">
                <div class="single-container">
                    <div class="content">
                        <div class="section-title">
                            Projects
                        </div>
                    </div>
                    <div class="double-container">
                        <div class="content">
                            <div class="project-link">
                                <h1>Gina's Cleaning Services</h1>
                                <a href="http://ginascleaningservices.co.uk/" rel="noopener" target="blank">Show Live</a>
                            </div>
                            <p>
                                <ul>
                                    <li>Web application for client's cleaning services.</li>
                                    <li>Recreated design from client's leaflet for advertising purposes.</li>
                                    <li>Design optimized for easy UX. Fully responsive.</li>
                                    <li>Easly and quick accessible customers contact form connected with Email.</li>
                                    <li>Built with HTML5, CSS3, JavaScript, Bootstrap4 and jQuery technologies.</li>
                                </ul>
                            </p>
                        </div>
                        <div class="content">
                            <div class="project-link">
                                <h1>PVPON - Gaming website</h1>
                                <a href="https://www.pvpon.eu/" rel="noopener" target="blank">Show Live</a>
                            </div>
                            <p>
                                <ul>
                                    <li>Gaming website for community.</li>
                                    <li>Created a custom Theme template and used Photoshop to edit images.</li>
                                    <li>Implemented Loging in with Discord Oauth2.</li>
                                    <li>Implemented E-commerce store.</li>
                                    <li>Used Zapier to move info from a Website to Discord.</li>
                                    <li>Added various plugins like Youtube, Excel Sheets, WP forms, WooCommerce, AMO Team.</li>
                                    <li>Built with Wordpress CMS, HTML5, CSS3.</li>
                                </ul>
                            </p>
                        </div>
                        <div class="content">
                            <div class="project-link">
                                <h1>Techiebee - Ecommerce</h1>
                                <a href="https://techiebee.herokuapp.com/" rel="noopener" target="blank">Show Live</a><a href="https://github.com/MariusDervinis/techiebee" target="blank">Show Code</a>
                            </div>
                            <p>
                                <ul>
                                    <li>Custom store to sell computer hardware.</li>
                                    <li>Secured application with customers reset password via email and token system.</li>
                                    <li>Admin management panel, search, create products, cart system.</li>
                                    <li>Built with React, Redux, Node.js, Express, Mongoose database, CSS3, JavaScript, ES6, API.</li>
                                </ul>
                            </p>
                        </div>
                        <div class="content">
                            <div class="project-link">
                                <h1>YelpCamp - Best camping spots</h1>
                                <a href="https://marius-dervinis-yelpcamp.herokuapp.com/" rel="noopener" target="blank">Show Live</a><a href="https://github.com/MariusDervinis/YelpCamp" target="blank">Show Code</a>
                            </div>
                            <p>
                                <ul>
                                    <li>Campground website project to search and share camping spots.</li>
                                    <li>User register, login system, create new/edit own campgrounds and comments section.</li>
                                    <li>Built with HTML5, CSS3, Bootstrap4, JavaScript, Node.js, Express.</li>
                                </ul>
                            </p>
                        </div>
                        <div class="content">
                            <div class="project-link">
                                <h1>Color Guess Game</h1>
                                <a href="https://pick-the-color-game.herokuapp.com/" rel="noopener" target="blank">Show Live</a><a href="https://github.com/MariusDervinis/Color-Guess-Game" target="blank">Show Code</a>
                            </div>
                            <p>
                                <ul>
                                    <li>Game application project to recognise and learn more various colors.</li>
                                    <li>Converted random color matching functionality from RGB color spectre to Hex.</li>
                                    <li>Matched Hex colors to the closest color names creating custom script.</li>
                                    <li>Made Easy and Hard modes.</li>
                                    <li>Built with HTML5, CSS3, JavaScript, Bootstrap4.</li>
                                </ul>
                            </p>
                        </div>
                        <div class="content">
                            <div class="project-link">
                                <h1>TO-DO LIST app</h1>
                                <a href="https://marius-to-do-list.herokuapp.com/" rel="noopener" target="blank">Show Live</a><a href="https://github.com/MariusDervinis/react-to-do" target="blank">Show Code</a>
                            </div>
                            <p>
                                <ul>
                                    <li>First React application project.</li>
                                    <li>Add new Todo list, edit, delete.</li>
                                    <li>Updated Vanilla HTML TO-DO list to React.</li>
                                    <li>Built with React, CSS3, JavaScript.</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>