<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metatag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Marius Dervinis. What I have been up to lately." />
    <meta name="keywords" content="Marius Dervinis, portfolio, web developer">
    <!-- Favicon -->

    <!-- I should use some google fonts to make my website more dope! -->
    <!-- Stylesheet -->
    <link rel="preload" href="/stylesheets/main.css" as="style">
    <link rel="preload" href="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" as="script">
    <link rel="preload" href="https://kit.fontawesome.com/adfe4d9109.js" crossorigin="anonymous" as="script">

    <link href="/stylesheets/lib/normalize.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/adfe4d9109.js" crossorigin="anonymous" defer></script>

    <title>Marius Dervinis - Portfolio</title>

</head>

<body>
    <header>
        <nav>
            <div id="menuToggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul class="menu-items" id="menu">

                    <a class="item" href="#home">
                        <li>Home</li>
                    </a>
                    <a class="item" href="#about">
                        <li>About</li>
                    </a>
                    <a class="item" href="#projects">
                        <li>Projects</li>
                    </a>
                    <a class="item" href="#contact">
                        <li>Contact</li>
                    </a>
                    <a href="/resume" target="_blank" rel="noopener">
                        <li>Resume</li>
                    </a>

                    <div class="social-links">
                        <a href="https://github.com/MariusDervinis" aria-label="Github" target="_blank" rel="noopener" class="github"><i class="fab fa-github"></i></i></a>
                        <a href="https://www.facebook.com/marius.dervinis" aria-label="Facebook" target="_blank" rel="noopener" class="facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.linkedin.com/in/marius-dervinis-38b1b2108/" target="_blank" rel="noopener" aria-label="Linkedin" class="linkedin"><i class="fab fa-linkedin-in"></i></a></div>
                </ul>
            </div>
        </nav>
    </header>