<form action="/sendmail" method="POST" autocomplete="off">
    <input name="name" type="text" class="feedback-input" placeholder="Name" required/>
    <input name="email" type="email" class="feedback-input" placeholder="Email" required />
    <textarea name="text" class="feedback-input" placeholder="Comment" required></textarea>
    <button type="submit" name="send_mail" class="button button-dark ">Contact</button>
</form>